<div ng-controller="HomeController">
   <div class="container-fluid">
      <div class="row no-gutters">
         <label class="btn btn-warning" ng-click="update()">Refresh</label>
      </div>
      <div class="row no-gutters">
         <div class="col-lg-5">
            <div class="row no-gutters">
               <table class="table compact-table">
                  <thead>
                     <tr>
                        <th>SensorID</th>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Time</th>
                  </thead>
                  <tr class="compact-table" ng-repeat="statefield in StateClient.data | toArray | orderBy: 'id'">
                     <td class="no-padding">{{statefield.id}}</td>
                     <td class="no-padding">{{DevicesClient.data.sensors[statefield.id].name}}</td>
                     <td class="no-padding">
                        <div ng-if="DevicesClient.data.sensors[statefield.id].type == 3">
                           <label class="btn btn-warning" ng-click="changeState(statefield.id)">{{statefield.value}}</label>
                        </div>
                        <div ng-if="DevicesClient.data.sensors[statefield.id].type != 3">{{statefield.value}}</div>
                     </td>
                     <td class="no-padding">{{statefield.time * 1000| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                  </tr>
               </table>
            </div>
            <div class="row no-gutters">
               <table class="table compact-table">
                  <thead>
                     <tr>
                        <th>Time</th>
                        <th>Data</th>
                  </thead>
                  <tr class="compact-table" ng-repeat="logfield in LogsClient.data | toArray | orderBy:'-'">
                     <td class="no-padding" width=200>{{logfield.time * 1000| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                     <td class="no-padding">{{logfield.data}}</td>
                  </tr>
               </table>
            </div>
         </div>
         <div class="col-lg-1">
            &nbsp;
         </div>
         <div class="col-lg-3">
            <table class="table compact-table">
               <thead>
                  <tr>
                     <th>Scene</th>
                     <th>Description</th>
                     <th>Run</th>
                     <th>Start</th>
               </thead>
               <tr class="compact-table" ng-repeat="scenefield in ScenesClient.data | orderBy: 'id'">
                  <td class="no-padding">{{scenefield.id}}</td>
                  <td class="no-padding">{{scenefield.description}}</td>
                  <td class="no-padding"><div class="mouse-pointer sprite-24-accept" ng-click="$event.stopPropagation(); runScene(scenefield.id)"></div></td>
                  <td class="no-padding">
                     <div ng-if="JobsClient.data.jobs[scenefield.id].time">
                        {{JobsClient.data.jobs[scenefield.id].time  * 1000| date:'yyyy-MM-dd HH:mm:ss Z'}}
                     </div>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </div>
   <label class="btn btn-warning" ng-click="test()">Home::Test</label>
</div>
   
