<div ng-controller="HomeController">
<div class="container-fluid">
<!-- {{StateClient.data}} -->
<label>States</label>
<label class="btn btn-warning" ng-click="update()">update</label>
<p>
<table class="table">
   <thead>
      <tr>
         <th>SensorID</th>
         <th>Name</th>
         <th>Value</th>
         <th>Time</th>
   </thead>
   <tr ng-repeat="field in StateClient.data | toArray | orderBy: 'id'">
      <td>{{field.id}}</td>
      <td>{{DevicesClient.data.sensors[field.id].name}}</td>
      <td>
         <div ng-if="DevicesClient.data.sensors[field.id].type == 3">
            <label class="btn btn-warning" ng-click="changeState(field.id)">{{field.value}}</label>
         </div>
         <div ng-if="DevicesClient.data.sensors[field.id].type != 3">{{field.value}}</div>
      </td>
      <td>{{field.time * 1000| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
   </tr>
</table>


<label class="btn btn-warning" ng-click="test()">Home::Test</label>
</div>

