<div ng-controller="HomeController">
   <div class="container-fluid">
      <div class="row no-gutters">
         <label class="btn btn-warning" ng-click="update()">Refresh</label>
      </div>
      <div class="row no-gutters">
         <div class="col-lg-9">
            <table class="table">
               <thead>
                  <tr>
                     <th>SensorID</th>
                     <th>Name</th>
                     <th>Value</th>
                     <th>Time</th>
               </thead>
               <tr ng-repeat="statefield in StateClient.data | toArray | orderBy: 'id'">
                  <td>{{statefield.id}}</td>
                  <td>{{DevicesClient.data.sensors[statefield.id].name}}</td>
                  <td>
                     <div ng-if="DevicesClient.data.sensors[statefield.id].type == 3">
                        <label class="btn btn-warning" ng-click="changeState(statefield.id)">{{statefield.value}}</label>
                     </div>
                     <div ng-if="DevicesClient.data.sensors[statefield.id].type != 3">{{statefield.value}}</div>
                  </td>
                  <td>{{statefield.time * 1000| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
               </tr>
            </table>
         </div>
         <div class="col-lg-3">
            <table class="table">
               <thead>
                  <tr>
                     <th>Scene</th>
                     <th>Description</th>
                     <th>Run</th>
               </thead>
               <tr ng-repeat="scenefield in ScenesClient.data | orderBy: 'id'">
                  <td>{{scenefield.id}}</td>
                  <td>{{scenefield.description}}</td>
                  <td><div class="mouse-pointer sprite-24-accept" ng-click="$event.stopPropagation(); runScene(scenefield.id)"></div></td>
               </tr>
            </table>

         </div>
      </div>
      <div class="row no-gutters">
         <table class="table">
            <thead>
               <tr>
                  <th>Time</th>
                  <th>Data</th>
            </thead>
            <tr ng-repeat="logfield in LogsClient.data | toArray | orderBy:'-'">
               <td width=200>{{logfield.time * 1000| date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
               <td>{{logfield.data}}</td>
            </tr>
         </table>
      </div>
   </div>
   <label class="btn btn-warning" ng-click="test()">Home::Test</label>
</div>
   
